* {
    font-family: Arial, Helvetica, sans-serif;
}

table thead tr th {
    background-color: #afaeae;
}

table tbody tr th {
    text-align: left;
}

table,
tr,
th,
td {
    border: solid 2px #333;
    border-collapse: collapse;
    text-align: center;
}

table tbody tr th {
    background-color: #E6F3FF;
}

tr:nth-child(even) {
    background-color: #FFFFCC;
}